<div class="row">
    <div class="col-md-5">
        <nav class="nav attachroom flex-column border border-primary " style="box-shadow: 2px 2px blue;"> 
  <a class="nav-link  border border-bottom-3 border-left-1"  href="#">
    <label>Modify Stock Item</label>
    <label>Status</label></a>
  
  
</nav>
    </div>
  </div>
 
