   <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<div class="modal fade" id="itemsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="z-index:10000 !important;"  aria-hidden="true">
    <div class="modal-dialog modal-lg"  style="width:1250px !important; height:100% !important;" role="document">
        <div class="modal-content" style="height:100% !important; box-shadow:2px 2px 3px 4px #ccc !important;" >
            <div class="modal-header bg-dark">
            
                <h5 style="margin-left:40%;" class="modal-title text-center text-white" id="exampleModalLabel">Item Management</h5>
                
                <button type="button" class="closeitem close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
       
            <form class="iteminfo" onkeypress="return event.keyCode != 13;" onsubmit="return false;"  autocomplete="off">
     
            
                <div class="modal-body ">
                <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 ml-2">
                    <div style="box-shadow:2px 2px 3px 4px #ccc !important;" class="input-group  text-center mb-2">

  <input  type="text" class="form-control hotelname" id="search" placeholder="Search...">
  <div class="input-group-append">
    <span class="input-group-text fa  fa-search" style=" font-size:20px; background-color:white; color:black;" id="basic-addon2" title="Hotel Name"></span>
  </div>
  </div>
  </div>
  </div>
                    <div class="row ">
                        <div class="col-md-5 iteminformation">
                         <div class="card">
                       <div class="card-body"  style="box-shadow:3px 3px 5px 6px #ccc !important;" >
                            <h4 class="text-center error-msg">
                            </h4>
                          <!--   <label style="font-size: 12px;">Itemname</label><input type="text"  id="itemsnamemodal" class="ml-2 border border-1 w-75 form-control d-inline" autofocus required oninvalid="this.setCustomValidity('Set Itemname!!')"> -->
                       <div class="form-group w-100">
<div class="input-group mb-2"  style="box-shadow:2px 2px 2px 2px #ccc !important;">
<div class="input-group-prepend">
    <span class="input-group-text fa fa-list-alt"   style=" font-size:20px; background-color:white; color:black;" id="basic-addon2" title="Hotel Name"></span>
  </div>
  <input type="text" class="form-control hotelname" required name="itemname" placeholder="Item's name">
  </div>

  <div class="input-group mb-2" style="box-shadow:2px 2px 2px 2px #ccc !important;">
        <input required type="text" class="form-control hoteladdress" name="units"     placeholder="Units">


  </div>
  
  <div class="input-group mb-2" style="box-shadow:2px 2px 2px 2px #ccc !important;">
         <input type="number" class="form-control mobileno" name="amount" placeholder="Amount">
  </div>
  <div class="input-group mb-2" style="box-shadow:2px 2px 2px 2px #ccc !important;">
  <input type="text"  required list="itemgrouplist" class="form-control hotelname" name="itemgroup" placeholder="Groupname">

  </div>



  <div class="input-group mb-2" style="box-shadow:2px 2px 2px 2px #ccc !important;">
<div class="input-group-prepend">
    <span class="input-group-text"  style="background-color:white; color:black;" id="basic-addon2" title="Address">TAX Type</span>
  </div>
 
 <select class="form-control" name="taxtype">
 <option value="vat">VAT</option>
 </select>
        
       
  </div>
  <div class="input-group mb-2" style="box-shadow:2px 2px 2px 2px #ccc !important;">

  <div class="input-group-prepend">
    <span class="input-group-text"  style="background-color:white;  color:black;" id="basic-addon2" title="TAX %"> Tax % </span>
  </div>

  
     
         <input type="number" class="form-control mobileno" name="taxamount" placeholder="TAX %">
     
  </div>
  <div class="input-group mb-2" style="box-shadow:2px 2px 2px 2px #ccc !important;">
<div class="input-group-prepend">
    <span class="input-group-text"   style=" background-color:white; color:black;" id="basic-addon2" title="Business Name">Discount Type</span>
  </div>
 <select class="form-control" name="discounttype">
 <option value="Fixed" >Fixed </option>
 <option  value="Percent">Percent</option>

</select>
  </div>
 <div class="input-group mb-2" style="box-shadow:2px 2px 2px 2px #ccc !important;">

  <div class="input-group-prepend">
    <span class="input-group-text"   style="background-color:white;  color:black;" id="basic-addon2" title="PAN No.">Discount Amount</span>
  </div>

   
         <input type="number" class="form-control panno" name="discount" placeholder="PAN/VAT No.">
     
     
  </div>
   <div class="input-group mb-2">   
         <input type="checkbox" checked style="width:20px;height:20px;" class=" mt-1" name="taxactive" ><label style="font-size:12px;" class="ml-2 mt-1">Tax applicable</label>
            <input type="checkbox" checked style="width:20px;height:20px;" class="ml-2 mt-1 d-inline " name="discountactive"><label style="font-size:12px;" class="ml-2 mt-1">Discount applicable</label><br/>
     <br/><br/>
  <%/*      <input type="checkbox" style="width:20px;height:20px;" class="panno ml-5 text-center mt-1 d-inline " name="panno" value="Tax Applicable"><label style="font-size:14px;" class="ml-2 mt-1">is active</label><br/> */ %>
  </div>
  </div>
                        </div>
                    </div>
                </div>
                  
             
                <div class=" col-md-6" >
             <div class="table-responsive" style="height:300px;"> 
                <table style="box-shadow:2px 2px 3px 4px #ccc !important;" class="table table-hover itemtable table-striped table-bordered table-md">
                <tr class="text-dark bg-light" style="font-size:12px">
                <th>ItemID</th>
                <th>Name</th>
                <th>Units</th>
                <th>Amount</th>
                <th>Itemgroup</th>
                <th>Tax</th>
                <th>Tax %</th>
               
                  <th>Discount Type</th>
                <th>Discount</th>
                 <th>Tax Active</th>
                  <th>Discount Active</th>
               
                </tr>

                </table>
             </div>
                
                <div class=" float-left" style="margin-left:28%;"></div>
                <div class="card mt-3">
                <div class="card-footer bg-white">
                      <button name="addbutton" type="submit" class="btn additem  btn-primary">Add</button>
                       <a class="btn updateitem btn-primary">Update</a>
                        <a class="btn deleteitem btn-primary">Delete </a>
                         <button type="reset" class="btn btn-primary">Reset</button>
                      </div>
                      </div> 
                 </div>
 
                </div>

                </div>
                <hr/>
              
                </div>
                                
            </form>
        </div>
    </div>
</div>
</main>
<script>


var itemid;
 $("form.iteminfo").validate();
$(document).ready(function()
{

$(document).on('click','.additem',function(e)
{
  e.preventDefault();
   $("form.iteminfo").valid();
  
if($("form.iteminfo").valid()===true)
{
      $("*").css();
console.log(e.target.name);
  
        var formObj = {};
    var inputs = $('form.iteminfo').serializeArray();
      inputs = inputs.concat(
            jQuery('form.iteminfo input[type=checkbox]:not(:checked)').map(
                    function() {
                        return {"name": this.name, "value": "off"}
                    }).get()
    );
    

   $.each(inputs, function (i, input) {
     if (input.name==='discountactive' && input.value==='on')
     {
       input.value='Yes';
     }
     if (input.name==='taxactive' && input.value==='on')
     {
       input.value='Yes';
     }
     if (input.name==='discountactive' && input.value==='off')
     {
       input.value='No';
     }
     if (input.name==='taxactive' && input.value==='off')
     {
       input.value='No';
     }

           formObj[input.name]=input.value;
    });

console.log(formObj);
    $.ajax({
        url:'/additem',
        type:'post',
        data:{formObj:formObj},
        async:false,
        success:function(data)
        {

    

      $("*").css("cursor", "auto");

            Swal.fire("item added successfully");
            $('form.iteminfo').trigger('reset');
            $.ajax({
  url:'/getitemlist',
  type:'post',
  async:false,
  success:function(data)
  {
    
    var itemlist=data.itemlist;



    return new Promise((resolve,reject)=>
    {
    var appendtabledata='';
            for(var i=0; i< itemlist.length;i++)
            { 
              appendtabledata+='<tr>';
              for(var key in itemlist[i])
              {    
            appendtabledata+=`<td>${itemlist[i][key]}</td>`;
              }
                   appendtabledata+='</tr>';    
            }
 
 resolve(appendtabledata);
    }).then(function(result)
    {
      return result;
    }).then(function(result)
  {
    $('.itemtable tr:gt(0)').html('');
  $('.itemtable').append(result); 

  })

            
  }
})

        },
        error:function(data)
        {
            Swal.fire("lease try again");
        }
    })
  
   

}
    e.preventDefault();

})



$(document).on('click','.updateitem',function(e)
{
  e.preventDefault();
   $("form.iteminfo").valid();
  
if($('.itemtable tr').hasClass('bg-info')=== true)
{
    
    if($("form.iteminfo").valid()===true)
{
      $("*").css();
console.log(e.target.name);
  
        var formObj = {};
     var inputs = $('form.iteminfo').serializeArray();
      inputs = inputs.concat(
            jQuery('form.iteminfo input[type=checkbox]:not(:checked)').map(
                    function() {
                        return {"name": this.name, "value": "off"}
                    }).get()
    );
    $.each(inputs, function (i, input) {

    if(input.name==='taxactive' && input.value==='off')
    {
          input.value='No';
    }
    if (input.name==='discountactive' && input.value==='off')
     {
       input.value='No';
     }
     if(input.name==='taxactive' && input.value==='on')
    {
          input.value='Yes';
    }
if(input.name==='discountactive' && input.value==='on')
     {
       input.value='Yes';
     }
      
        formObj[input.name]=input.value;
      
    });



  console.log("Form objects is ");
  console.log(formObj);

 

    $.ajax({
        url:'/updateitem',
        type:'post',
        data:{itemdata:formObj,itemid:itemid},
        async:false,
        success:function(data)
        {

    

      $("*").css("cursor", "auto");

            Swal.fire("item updated successfully");
            $('form.iteminfo').trigger('reset');
            $('button.additem').removeClass('disabled');
$('button.additem').css('pointer-events','auto');

            $.ajax({
  url:'/getitemlist',
  type:'post',
  async:false,
  success:function(data)
  {
    var itemlist=data.itemlist;
    console.log(itemlist);
    console.log(itemlist.length);
    console.log(itemlist[0].length);

    return new Promise((resolve,reject)=>
    {
    var appendtabledata='';
            for(var i=0; i< itemlist.length;i++)
            { 
              appendtabledata+='<tr>';
              for(var key in itemlist[i])
              {    
            appendtabledata+=`<td>${itemlist[i][key]}</td>`;
              }
                   appendtabledata+='</tr>';    
            }
 
 resolve(appendtabledata);
    }).then(function(result)
    {
      return result;
    }).then(function(result)
  {
    $('.itemtable tr:gt(0)').html('');
  $('.itemtable').append(result); 
    })

            
  }
})

        },
        error:function(data)
        {
            Swal.fire("lease try again");
        }
    })
  
}   

}
else
{
            Swal.fire("First select the item");

}
    e.preventDefault();

})


$(document).on('click','.deleteitem',function(e)
{
  e.preventDefault();
   $("form.iteminfo").valid();
  
if($("form.iteminfo").valid()===true)
{
      $("*").css();
console.log(e.target.name);
  


    $.ajax({
        url:'/deleteitem',
        type:'post',
        data:{itemid:itemid},
        async:false,
        success:function(data)
        {

    

      $("*").css("cursor", "auto");

            Swal.fire("item deleted successfully");
            $('form.iteminfo').trigger('reset');
            $.ajax({
  url:'/getitemlist',
  type:'post',
  async:false,
  success:function(data)
  {
    var itemlist=data.itemlist;
    
console.log(itemlist);
   
  

    return new Promise((resolve,reject)=>
    {
    var appendtabledata='';
            for(var i=0; i< itemlist.length;i++)
            { 
              appendtabledata+='<tr>';
              for(var key in itemlist[i])
              {    
            appendtabledata+=`<td>${itemlist[i][key]}</td>`;
              }
                   appendtabledata+='</tr>';    
            }
 
 resolve(appendtabledata);
    }).then(function(result)
    {
      return result;
    }).then(function(result)
  {
    $('.itemtable tr:gt(0)').html('');
  $('.itemtable').append(result); 
    })

            
  }
})

        },
        error:function(data)
        {
            Swal.fire("lease try again");
        }
    })
  
   

}
    e.preventDefault();

})




$(document).on('click','table.itemtable tr',function(e)
{
    var index=$('table.itemtable tr').index(this);
    itemid=e.target.id;
})


var itemlistcache;


$('body').on('shown.bs.modal', '#itemsModal', function () {
    // alert("Entered")
    $('input:visible:enabled:first', this).focus();

$.ajax({
  url:'/getitemlist',
  type:'post',
  async:false,
  success:function(data)
  {
    var itemlist=data.itemlist;
console.log(itemlist);

    itemlistcache=itemlist;
    console.log(itemlist);
    

    return new Promise((resolve,reject)=>
    {
    var appendtabledata='';
            for(var i=0; i< itemlist.length;i++)
            { 
              appendtabledata+='<tr style="color:black !important; ">';
              for(var key in itemlist[i])
              {    
            appendtabledata+=`<td>${itemlist[i][key]}</td>`;
              }
                   appendtabledata+='</tr>';    
            }
 
 resolve(appendtabledata);
    }).then(function(result)
    {
      return result;
    }).then(function(result)
  {
  $('.itemtable').append(result); 
    })

            
  }
})
})


$(document).on("click",".itemtable tr:gt(0)",function(e)
{
e.preventDefault();
$('.itemtable tr:gt(0)').removeClass('bg-info');
  $(`input[name="taxactive"]`).attr('checked', true);
  $(`input[name="discountactive"]`).attr('checked', true);


$(this).addClass('bg-info');
$('button.additem').addClass('disabled');
$('button.additem').css('pointer-events','none');

itemid=$(this).find('td').eq(0).text();
$.ajax({
  url:'/getitemlist',
  type:'post',
  async:false,
  success:function(data)
  {
    var itemlistcache=data.itemlist;

var updateitemlist=[];
for(i=0;i<itemlistcache.length;i++)
{
  
    if(itemlistcache[i]['id']===Number(itemid))
    {
      for(var key in itemlistcache[i])
      {
      updateitemlist.push(itemlistcache[i][key])
      }
    }
}

var formdata= $('form.iteminfo').serializeArray();
// alert(formdata);
// alert(updateitemlist);
$.each(formdata,function(j,input)
{

// alert(j);
if(j>7 && updateitemlist[j+1]==='Yes' )
{
  // alert(j);
  $(`input[name=${input.name}]`).attr('checked', true);
}
if(j>7 && updateitemlist[j+1]==='No' )
{
  alert(j);
   
  $(`input[name=${input.name}]`).removeAttr('checked');
}
if(j<=7)
{
  $(`input[name=${input.name}]`).val(updateitemlist[j+1]);
}
})
  }
})

    })
  



})
</script>