<!-- views/partials/header.ejs -->


<style>
nav.mainheader{
  box-shadow:5px 5px black;
}
 nav ul
      {
        display: flex;
      
  
             }

      nav ul li
      {
        list-style: none;

        position: relative;
        margin:10px 4px;

        letter-spacing: 1px;
        transform: translateX(-400px);
        animation: slideIn .3s forwards;
        transform: scaleX(0);

      }

      nav ul li:nth-child(1)
      {
        animation-delay: 0s;
      }
      nav ul li:nth-child(2)
      {
        animation-delay: 0.5s;
      }
      nav ul li:nth-child(3)
      {
        animation-delay: 1s;
      }
      nav ul li:nth-child(4)
      {
        animation-delay: 1.5s;
      }
   
      nav ul li:nth-child(6)
      {
        animation-delay: 2.5s;
      }
      nav ul li:nth-child(7)
      {
        animation-delay: 3s;
      }
      nav ul li:nth-child(8)
      {
        animation-delay: 3.5s;
      }
      nav ul li:nth-child(9)
      {
        animation-delay: 4s;
      }
      ul li a:last-child{
        margin-right: 0;
      }
      nav > div > ul > li > a
      {
        text-decoration: none !important;
        color: black !important;
        
        position: relative;
       
        font-size:20px !important;
       
      }
             nav > div > ul > li > a::before,nav > div > ul > li > a::after
          {
            content:'';
            position: absolute;
            width:100%;
            height:2px;
            background-color: red;
            transform: scaleX(0);
            left: 0;
            transition: all 1s;
          }
          ul li a:hover
          {
          font-size: 25px !important;
          margin-top:-5px;
         
          }
          ul li a:hover::before,ul li a:hover::after
          {
            transform:scaleX(1);
          }
          ul li a::before
          {
            top:-4px;
            transform-origin: left;
          }
           
            ul li a::after
            {
              bottom:-4px;
              transform-origin:right;
            }

            @keyframes slideIn {
  from{

  }
  to{
    transform: translateX(0);
    transform: scaleX(1);
  }
}
</style>
  <nav class="navbar mb-4 mainheader navbar-expand text-black navbar-light ">
<a class="navbar-brand ml-5" href="http://www.animatedimages.org/cat-nepal-flag-839.htm"><img src="http://www.animatedimages.org/data/media/839/animated-nepal-flag-image-0007.gif" style="width:50px; height:30px;" border="0" alt="animated-nepal-flag-image-0007" /></a>
  <a class="navbar-brand mt-2" href="http://www.jacnepal.com"><img style="width:100px; height:30px;" src="./js/jaclogo.png" /></a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto text-white">
      <li class="nav-item active ml-5">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    <% /*  <li class="nav-item active ml-5">
        <a class="nav-link" href="/reserve">Reserve</a>
      </li> */ %>
      <li class="nav-item active ml-5">
        <a class="nav-link" href="/voucher">Voucher</a>
      </li>
      <li class="nav-item active ml-5">
        <a class="nav-link" href="/stock">Stock</a>
      </li>
      <li style="z-index:999 !important;" class="nav-item active dropdown ml-5">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Report
        </a>
        <ul  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle text-dark" data-toggle="dropdown" href="#">Daybook</a>
            <ul class="dropdown-menu">
              <a class="dropdown-item text-dark" href="#">View Daybook</a>
              <a class="dropdown-item text-dark" href="#">Alter Daybook</a>
            </ul>
          </li>
             <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle text-dark" data-toggle="dropdown" href="#">Ledger</a>
            <ul class="dropdown-menu">
              <a class="dropdown-item text-dark" href="/ledger">View Ledger</a>
              <a class="dropdown-item text-dark" href="#">Alter Ledger</a>
            </ul>
          </li>

          <li><a class="dropdown-item text-dark" href="#">Trial Balance</a></li>
          <li><a class="dropdown-item text-dark" href="#">Balance Sheet</a></li>

         
        </ul>
      </li>
         <li class="nav-item active ml-5">
        <button class="nav-link bg-info logout  border rounded-top rounded-bottom" href="/logout">Logout</button>
      </li>
    </ul>
<iframe scrolling="no" border="0" frameborder="0" marginwidth="0" marginheight="0" allowtransparency="true" src="https://www.ashesh.com.np/linknepali-time.php?time_only=no&font_color=00FF7F&aj_time=yes&font_size=13&line_brake=0&bikram_sambat=0&api=960147j096" width="308" class="mt-2"  height="24"></iframe>
  </div>

</nav>
<script>

$('button.logout').on('click',function(e)
{
  Cookies.set('username','');
  Cookies.set('password','');
  window.location.replace("http://localhost:3000/login");

  
})
var refresh_rate = 400; //<-- In seconds, change to your needs
var last_user_action = 0;
var has_focus = false;
var lost_focus_count = 0;
var focus_margin = 10; // If we lose focus more then the margin we want to refresh


function reset() {
    last_user_action = 0;
    console.log("Reset");
}

function windowHasFocus() {
    has_focus = true;
}

function windowLostFocus() {
    has_focus = false;
    lost_focus_count++;
    console.log(lost_focus_count + " <~ Lost Focus");
}

setInterval(function () {
    last_user_action++;
    refreshCheck();
}, 1000);

function refreshCheck() {
    var focus = window.onfocus;
    if ((last_user_action >= refresh_rate && !has_focus && document.readyState == "complete") || lost_focus_count > focus_margin) {
        window.location.reload(); // If this is called no reset is needed
        reset(); // We want to reset just to make sure the location reload is not called.
    }

}
window.addEventListener("focus", windowHasFocus, false);
window.addEventListener("blur", windowLostFocus, false);
window.addEventListener("click", reset, false);
window.addEventListener("mousemove", reset, false);
window.addEventListener("keypress", reset, false);
window.addEventListener("scroll", reset, false);
document.addEventListener("touchMove", reset, false);
document.addEventListener("touchEnd", reset, false);
</script>