<div class="col-md-2 mt-3">
<nav class="nav flex-column">
  <a style="border:1px solid black;" class="nav-link active" onclick="javascript:salesform();" >Sales</a>
  <a class="nav-link" style="border:1px solid black;" onclick="javascript:paymentform();"  href="#">Payment</a>
  <a class="nav-link" style="border:1px solid black;" onclick="javascript:contraform();"  href="#">Contra</a>
  <a class="nav-link" style="border:1px solid black;" id="report" href="#">Report</a>
  <ul style="display:none;" class="list-group reportlist mt-1 ml-2 justify-contents-center w-75 mb-2 p-0">
  <li style="height:35px; !important" class="list-group-item p-1"><a href="trialbalance">Day Book</a></li>
  <li style="height:35px; !important"  class="list-group-item p-1"><a href="trialbalance">Trial Balance</a></li>
  <li style="height:35px; !important"  class="list-group-item p-1"><a href="trialbalance">Ledger</a></li>
  <li style="height:35px; !important" class="list-group-item p-1"><a href="trialbalance">Balance Sheet</a></li>
 
</ul>
 
  
<a  id="hello" style="border:1px solid black;" class="nav-link" data-toggle="modal" data-target="#myModal"  accesskey="h">
  Create Account (Alt+h)
</a>

<%/* <a   style="border:1px solid black;" class="nav-link" data-toggle="modal" data-target="#contraentry" accesskey="c" id="contraentrybutton">
  Create Contra (Alt+c)
</a> */%>
<a   style="border:1px solid black;" class="nav-link" >
  Add Sales
</a>
<a   style="border:1px solid black;" class="nav-link" >
  Add Journal
</a>
<a style="border:1px solid black;" class="nav-link" >
  Add Purchase
</a>
</nav>
</div>
</div>