<div class="col-md-2 mt-3">
<nav class="nav flex-column">
  <a style="border:1px solid black;" class="nav-link active" onclick="javascript:salesform();" >View Stock Item </a>
  <ul style="display:none;" class="list-group reportlist mt-1 ml-2 justify-contents-center w-75 mb-2 p-0">
  <li style="height:35px; !important" class="list-group-item p-1"><a href="trialbalance">By Groups</a></li>
  <li style="height:35px; !important"  class="list-group-item p-1"><a href="trialbalance">By Category</a></li>
  <li style="height:35px; !important"  class="list-group-item p-1"><a href="trialbalance">By Item</a></li>
</ul>
  <a class="nav-link" style="border:1px solid black;" href="/modifystockitem">Modify Stock Item </a>
  <a class="nav-link" style="border:1px solid black;" href="#">Add Item</a>
  <a class="nav-link" style="border:1px solid black;" href="#">Add Group</a>  
  <a class="nav-link" style="border:1px solid black;" href="#">Add Category</a>
  <a class="nav-link" style="border:1px solid black;" href="#">Add Units</a>  
</nav>
</div>
