<tr  class=" m-0  row text-center">
			<td id="sn" class="col-md-2 ">1</td>
			<td   class="col-md-4 p-0"><input id="itemname-1" style="text-align-last:center; " type="text" class="form-control" /><ul style="list-style-type:none;  left:-1px;  max-height:150px; position:absolute; outline:1px solid black;z-index:99; overflow:auto; padding:0px; margin:0px;" id="itemlist-1" class="d-none"></ul>
			<td  class="col-md-1 p-0"><input type="number" min="0" id="itemsquantity-1" class="form-control" /></td>
			<td  class="col-md-2 p-0"><select class="form-control" style="text-align-last:center; text-align: center; " id="unit-1" ><option  value="0">--------------</option><option  value="1">Cup</option><option value="2">Plate</option><option value="3">Kachaura</option><option>Pieces</option></select></td>
			<td   class="col-md-1 p-0"><input id="itemsprice-1" style="text-align-last:center; "   type="number" min="0" class="form-control" /></td>
			<td   class="col-md-2 p-0"><input  style="text-align-last:center; " id="amount-1" type="number" min="0" class="form-control text-center" value=0  /></td>
		</tr>
	   <tr  class=" m-0  row text-center">
			<td id="sn" class="col-md-2 ">2</td>
			<td   class="col-md-4 p-0"><input id="itemname-2" type="text" class="form-control" /><div style="list-style-type:none; width:310px; outline:3px solid #EEE; left:3px;  max-height:150px; position:absolute; z-index:20; overflow:auto; padding:0px; margin:0px;" id="itemlist-2" class="d-none"></div>
			<td  class="col-md-1 p-0"><input type="number" min="0" id="itemsquantity-2" class="form-control" /></td>
			<td  class="col-md-2 p-0"><select class="form-control" id="unit-2" ><option  value="0">--------------</option><option  value="1">Cup</option><option value="2">Plate</option><option value="3">Kachaura</option><option>Pieces</option></select></td>
			<td   class="col-md-1 p-0"><input id="itemsprice-2"  type="number" min="0" class="form-control" /></td>
			<td   class="col-md-2 p-0"><input id="amount-2" type="number" min="0" class="form-control text-center" value=0 /></td>
		</tr>
		<tr  class=" m-0  row text-center">
			<td id="sn" class="col-md-2 ">3</td>
			<td   class="col-md-4 p-0"><input id="itemname-3" type="text" class="form-control" /><div style="list-style-type:none; width:310px; outline:3px solid #EEE; left:3px;  max-height:150px; position:absolute; z-index:20; overflow:auto; padding:0px; margin:0px;" id="itemlist-3" class="d-none"></div>
			<td  class="col-md-1 p-0"><input type="number" min="0" id="itemsquantity-3" class="form-control" /></td>
			<td  class="col-md-2 p-0"><select class="form-control" id="unit-3" ><option  value="0">--------------</option><option  value="1">Cup</option><option value="2">Plate</option><option value="3">Kachaura</option><option>Pieces</option></select></td>
			<td   class="col-md-1 p-0"><input id="itemsprice-3"  type="number" min="0" class="form-control" /></td>
			<td   class="col-md-2 p-0"><input id="amount-3" type="number" min="0" class="form-control text-center" value=0 /></td>
		</tr>
		<tr  class=" m-0  row text-center">
			<td id="sn" class="col-md-2 ">4</td>
			<td   class="col-md-4 p-0"><input id="itemname-4" type="text" class="form-control" /><div style="list-style-type:none; width:310px; outline:3px solid #EEE; left:3px;  max-height:150px; position:absolute; z-index:20; overflow:auto; padding:0px; margin:0px;" id="itemlist-4" class="d-none"></div>
			<td  class="col-md-1 p-0"><input type="number" min="0" id="itemsquantity-4" class="form-control" /></td>
			<td  class="col-md-2 p-0"><select class="form-control" id="unit-4" ><option  value="0">--------------</option><option  value="1">Cup</option><option value="2">Plate</option><option value="3">Kachaura</option><option>Pieces</option></select></td>
			<td   class="col-md-1 p-0"><input id="itemsprice-4"  type="number" min="0" class="form-control" /></td>
			<td   class="col-md-2 p-0"><input id="amount-4" type="number" min="0" class="form-control text-center" value=0 /></td>
		</tr>
		<tr  class=" m-0  row text-center">
			<td id="sn" class="col-md-2 ">5</td>
			<td   class="col-md-4 p-0"><input id="itemname-5" type="text" class="form-control" /><div style="list-style-type:none; width:310px; outline:3px solid #EEE; left:3px;  max-height:150px; position:absolute; z-index:20; overflow:auto; padding:0px; margin:0px;" id="itemlist-5" class="d-none"></div>
			<td  class="col-md-1 p-0"><input type="number" min="0" id="itemsquantity-5" class="form-control" /></td>
			<td  class="col-md-2 p-0"><select class="form-control" id="unit-5" ><option  value="0">--------------</option><option  value="1">Cup</option><option value="2">Plate</option><option value="3">Kachaura</option><option>Pieces</option></select></td>
			<td   class="col-md-1 p-0"><input id="itemsprice-5"  type="number" min="0" class="form-control" /></td>
			<td   class="col-md-2 p-0"><input id="amount-5" type="number" min="0" class="form-control text-center" value=0 /></td>
		</tr>
		<tr  class=" m-0  row text-center">
			<td id="sn" class="col-md-2 ">6</td>
			<td   class="col-md-4 p-0"><input id="itemname-6" type="text" class="form-control" /><div style="list-style-type:none; width:310px; outline:3px solid #EEE; left:3px;  max-height:150px; position:absolute; z-index:20; overflow:auto; padding:0px; margin:0px;" id="itemlist-6" class="d-none"></div>
			<td  class="col-md-1 p-0"><input type="number" min="0" id="itemsquantity-6" class="form-control" /></td>
			<td  class="col-md-2 p-0"><select class="form-control" id="unit-6" ><option  value="0">--------------</option><option  value="1">Cup</option><option value="2">Plate</option><option value="3">Kachaura</option><option>Pieces</option></select></td>
			<td   class="col-md-1 p-0"><input id="itemsprice-6" min="0" type="number" min="0" class="form-control" /></td>
			<td   class="col-md-2 p-0"><input id="amount-6" min="0" type="number" min="0" class="form-control text-center" value=0 /></td>
		</tr>