   <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<div class="modal fade" id="vendorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="z-index:10000 !important;"  aria-hidden="true">
    <div class="modal-dialog modal-lg"  style="width:1250px !important; height:100% !important;" role="document">
        <div class="modal-content" style="height:100% !important; box-shadow:2px 2px 3px 4px #ccc !important;" >
            <div class="modal-header bg-dark">
            
                <h5 style="margin-left:40%;" class="modal-title text-center text-white" id="exampleModalLabel">Vendor Management</h5>
                
                <button type="button" class="closeitem close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
       
            <form class="vendorinfo" onkeypress="return event.keyCode != 13;" onsubmit="return false;"  autocomplete="off">
     
            
                <div class="modal-body ">
                <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 ml-2">
                    <div style="box-shadow:2px 2px 3px 4px #ccc !important;" class="input-group  text-center mb-2">

  <input  type="text" class="form-control hotelname" name="hotelname" placeholder="Search...">
  <div class="input-group-append">
    <span class="input-group-text fa  fa-search" style=" font-size:20px; background-color:white; color:black;" id="basic-addon2" title="Hotel Name"></span>
  </div>
  </div>
  </div>
  </div>
                    <div class="row ">
                        <div class="col-md-4 iteminformation">
                         <div class="card">
                       <div class="card-body"  style="box-shadow:3px 3px 5px 6px #ccc !important;" >
                            <h4 class="text-center error-msg">
                            </h4>
                          <!--   <label style="font-size: 12px;">Itemname</label><input type="text" name="itemsname" id="itemsnamemodal" class="ml-2 border border-1 w-75 form-control d-inline" autofocus required oninvalid="this.setCustomValidity('Set Itemname!!')"> -->
                       <div class="form-group w-100">
<div class="input-group mb-2">
<div class="input-group-prepend">
    <span class="input-group-text fa  fa-user"   style=" font-size:20px; background-color:white; color:black;" id="basic-addon2" title="Hotel Name"></span>
  </div>
  <input type="text" class="form-control hotelname" required name="hotelname" placeholder="Vendor's name">
  </div>
  <div class="input-group mb-2">
<div class="input-group-prepend">
    <span class="input-group-text  fa fa-address-card-o"  style="background-color:white; color:black;" id="basic-addon2" title="Address"></span>
  </div>
 
        <input required type="text" class="form-control hoteladdress" name="vendoraddress"     placeholder="Address">
       
  </div>
  <div class="input-group mb-2">

  <div class="input-group-prepend">
    <span class="input-group-text  fa fa-mobile"  style="background-color:white; font-size:22px; color:black;" id="basic-addon2" title="Mobile no."></span>
  </div>

  
     
         <input type="number" class="form-control mobileno" name="mobileno" placeholder="Mobile no">
     
  </div>
  <div class="input-group mb-2">
<div class="input-group-prepend">
    <span class="input-group-text fa  fa-hotel"   style=" font-size:20px; background-color:white; color:black;" id="basic-addon2" title="Business Name"></span>
  </div>
  <input type="text" class="form-control hotelname" name="businessname" placeholder="Business name">
  </div>
 <div class="input-group mb-2">

  <div class="input-group-prepend">
    <span class="input-group-text"  style="background-color:white; font-size:15px; color:black;" id="basic-addon2" title="PAN No.">PAN/VAT No.</span>
  </div>

   
         <input type="number" class="form-control panno" name="panno" placeholder="PAN/VAT No.">
     
     
  </div>
  </div>
                        </div>
                    </div>
                </div>
                  
             
                <div class=" col-md-8 table-responsive" style="height:300px;">
             
                <table style="box-shadow:2px 2px 3px 4px #ccc !important;" class="table table-hover vendortable table-striped table-bordered table-md">
                <tr class="text-white bg-dark">
                <th>VendorID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>Business name</th>
                <th>PAN/VAT No.</th>
                </tr>

                </table>
                
                
                </div>

                </div>
                <hr/>
                </div>
                <div class=" float-left" style="margin-left:28%;">
               <div class="card">
               <div class="card-footer bg-white">
                     <button name="addbutton" type="submit" class="btn addvendor  btn-primary">Add</button>
                      <a class="btn updatevendor btn-primary">Update</a>
                       <a class="btn deletevendor btn-primary">Delete </a>
                        <button type="reset" class="btn btn-primary">Reset</button>
                     </div>
                     </div> 
                </div>
                
            </form>
        </div>
    </div>
</div>
</main>
<script>


var vendorid;
 $("form.vendorinfo").validate();
$(document).ready(function()
{

$(document).on('click','.addvendor',function(e)
{
  e.preventDefault();
   $("form.vendorinfo").valid();
  
if($("form.vendorinfo").valid()===true)
{
      $("*").css();
console.log(e.target.name);
  
        var formObj = [];
    var inputs = $('form.vendorinfo').serializeArray();
    $.each(inputs, function (i, input) {
      if(i>0)
      {
        formObj.push(input.value);
      }
    });


    $.ajax({
        url:'/addvendor',
        type:'post',
        data:{vendordata:formObj},
        async:false,
        success:function(data)
        {

    

      $("*").css("cursor", "auto");

            Swal.fire("vendor added successfully");
            $('form.vendorinfo').trigger('reset');
            $.ajax({
  url:'/getvendorlist',
  type:'post',
  async:false,
  success:function(data)
  {
    var vendorlist=data.vendorlist;



    return new Promise((resolve,reject)=>
    {
    var appendtabledata='';
            for(var i=0; i< vendorlist.length;i++)
            { 
              appendtabledata+='<tr>';
              for(var key in vendorlist[i])
              {    
            appendtabledata+=`<td>${vendorlist[i][key]}</td>`;
              }
                   appendtabledata+='</tr>';    
            }
 
 resolve(appendtabledata);
    }).then(function(result)
    {
      return result;
    }).then(function(result)
  {
    $('.vendortable tr:gt(0)').html('');
  $('.vendortable').append(result); 

  })

            
  }
})

        },
        error:function(data)
        {
            Swal("lease try again");
        }
    })
  
   

}
    e.preventDefault();

})



$(document).on('click','.updatevendor',function(e)
{
  e.preventDefault();
   $("form.vendorinfo").valid();
  
if($('.vendortable tr').hasClass('bg-info')=== true)
{
    
    if($("form.vendorinfo").valid()===true)
{
      $("*").css();
console.log(e.target.name);
  
        var formObj = [];
    var inputs = $('form.vendorinfo').serializeArray();
    $.each(inputs, function (i, input) {
      if(i>0)
      {
        formObj.push(input.value);
      }
    });


    $.ajax({
        url:'/updatevendor',
        type:'post',
        data:{vendordata:formObj,vendorid:vendorid},
        async:false,
        success:function(data)
        {

    

      $("*").css("cursor", "auto");

            Swal.fire("vendor updated successfully");
            $('form.vendorinfo').trigger('reset');
            $('button.addvendor').removeClass('disabled');
$('button.addvendor').css('pointer-events','auto');

            $.ajax({
  url:'/getvendorlist',
  type:'post',
  async:false,
  success:function(data)
  {
    var vendorlist=data.vendorlist;
    console.log(vendorlist);
    console.log(vendorlist.length);
    console.log(vendorlist[0].length);

    return new Promise((resolve,reject)=>
    {
    var appendtabledata='';
            for(var i=0; i< vendorlist.length;i++)
            { 
              appendtabledata+='<tr>';
              for(var key in vendorlist[i])
              {    
            appendtabledata+=`<td>${vendorlist[i][key]}</td>`;
              }
                   appendtabledata+='</tr>';    
            }
 
 resolve(appendtabledata);
    }).then(function(result)
    {
      return result;
    }).then(function(result)
  {
    $('.vendortable tr:gt(0)').html('');
  $('.vendortable').append(result); 
    })

            
  }
})

        },
        error:function(data)
        {
            Swal.fire("lease try again");
        }
    })
  
}   

}
else
{
            Swal.fire("First select the vendor");

}
    e.preventDefault();

})


$(document).on('click','.deletevendor',function(e)
{
  e.preventDefault();
   $("form.vendorinfo").valid();
  
if($("form.vendorinfo").valid()===true)
{
      $("*").css();
console.log(e.target.name);
  


    $.ajax({
        url:'/deletevendor',
        type:'post',
        data:{vendorid:vendorid},
        async:false,
        success:function(data)
        {

    

      $("*").css("cursor", "auto");

            Swal.fire("vendor deleted successfully");
            $('form.vendorinfo').trigger('reset');
            $.ajax({
  url:'/getvendorlist',
  type:'post',
  async:false,
  success:function(data)
  {
    var vendorlist=data.vendorlist;

   
  

    return new Promise((resolve,reject)=>
    {
    var appendtabledata='';
            for(var i=0; i< vendorlist.length;i++)
            { 
              appendtabledata+='<tr>';
              for(var key in vendorlist[i])
              {    
            appendtabledata+=`<td>${vendorlist[i][key]}</td>`;
              }
                   appendtabledata+='</tr>';    
            }
 
 resolve(appendtabledata);
    }).then(function(result)
    {
      return result;
    }).then(function(result)
  {
    $('.vendortable tr:gt(0)').html('');
  $('.vendortable').append(result); 
    })

            
  }
})

        },
        error:function(data)
        {
            Swal.fire("lease try again");
        }
    })
  
   

}
    e.preventDefault();

})




$(document).on('click','table.vendortable tr',function(e)
{
    var index=$('table.vendortable tr').index(this);
    vendorid=e.target.id;
    alert(vendorid);
})


var vendorlistcache;


$('body').on('shown.bs.modal', '#vendorModal', function () {
    // alert("Entered")
    $('input:visible:enabled:first', this).focus();

$.ajax({
  url:'/getvendorlist',
  type:'post',
  async:false,
  success:function(data)
  {
    var vendorlist=data.vendorlist;
    vendorlistcache=vendorlist;
    console.log(vendorlist);
    

    return new Promise((resolve,reject)=>
    {
    var appendtabledata='';
            for(var i=0; i< vendorlist.length;i++)
            { 
              appendtabledata+='<tr style="color:black !important; ">';
              for(var key in vendorlist[i])
              {    
            appendtabledata+=`<td>${vendorlist[i][key]}</td>`;
              }
                   appendtabledata+='</tr>';    
            }
 
 resolve(appendtabledata);
    }).then(function(result)
    {
      return result;
    }).then(function(result)
  {
  $('.vendortable').append(result); 
    })

            
  }
})
})


$(document).on("click",".vendortable tr:gt(0)",function(e)
{
e.preventDefault();
$('.vendortable tr:gt(0)').removeClass('bg-info');
$(this).addClass('bg-info');
$('button.addvendor').addClass('disabled');
$('button.addvendor').css('pointer-events','none');

vendorid=$(this).find('td').eq(0).text();
$.ajax({
  url:'/getvendorlist',
  type:'post',
  async:false,
  success:function(data)
  {
    var vendorlistcache=data.vendorlist;

var updatevendorlist=[];
for(i=0;i<vendorlistcache.length;i++)
{
  
    if(vendorlistcache[i]['id']===Number(vendorid))
    {
      for(var key in vendorlistcache[i])
      {
      updatevendorlist.push(vendorlistcache[i][key])
      }
    }
}

var formdata= $('form.vendorinfo').serializeArray();
$.each(formdata,function(j,input)
{

  $(`input[name=${input.name}]`).val(updatevendorlist[j]);
})
  }
})

    })
  



})
</script>