<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                EJS Is Fun
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/employee">Employee</a></li>
                <li><a href="/empposition">Add Post</a></li>
                <li><a href="/attendance">Attendance</a></li>
                <li><a href="/searchattendance">View Attendance</a></li>
                
                <li><a href="/count_attendance">Monthly Attendance report</a></li>

            </ul>
        </div>
    
    </div>
    </nav>