<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <link rel="stylesheet" href="https://unpkg.com/nepali-date-picker@2.0.0/dist/nepaliDatePicker.min.css" integrity="sha384-Fligaq3qH5qXDi+gnnhQctSqfMKJvH4U8DTA+XGemB/vv9AUHCwmlVR/B3Z4nE+q" crossorigin="anonymous">

    <style>

.manageuseractive
{
    background-color:black;
}
    ul.usermanagementlist li
    {
        margin-bottom:-4px;
    }
    nav.dashboard > a:hover
    {
        background-color:grey;
        width:100%;
    }
    a
    {
        margin-left:8px;
        margin-right:8px;
        color:black !important;
        text-decoration:none !important;
    }
    </style>
</head>


<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
    <% include ../pages/settingsidebar %>
    <div class="ml-5  col-md-9">

    <div class="row mt-3">
    <div class="col-md-3">
    </div>
    <div class="col-md-5 ">
    <form class="changepassword" action=""  onkeypress="return event.keyCode != 13;">
    <div class="card">
  <div class="card-header clearfix bg-dark "><h3 class="text-center p-2 " style=" width:100%; margin:auto !important;  color:white;">Change Password</h3></div>
  <div class="card-body">
  
    <div class="form-group ml-5 mr-1">
    <input type="password" class="form-control mb-2 w-75 " id="currentpassword" placeholder="Current password">
    

    <input type="password" class="form-control mb-2 w-75 " id="newpassword1" placeholder="New Password">
    <input type="password" class="form-control mb-2  w-75 " id="newpassword2" placeholder="Confirm New Password">
     </div>
     </div>

     
  <div class="card-footer">
  <div class="text-center mr-3">
    <button class="btn text-center btn-outline-primary">Save</button>
    </div>
    </div>
    </div>
    </form></div>
    </div>
</div>


   </div>
    </div>
      </div>
    </div>
    </div>
    </main>
<script>

 var username='<%= userinfo[0].username %>';
    
$('form.changepassword').on('submit',function(e)
{
    e.preventDefault();
    var currentpassword= $('#currentpassword').val();
    var newpassword1= $('#newpassword1').val();
   
    var newpassword2= $('#newpassword2').val();
    if(newpassword1===newpassword2)
    {
    $.ajax({
        url:'/checkpassword',
        type:'post',
        data:{username:username,password:currentpassword,newpassword:newpassword1},
        success:function(e)
        {
            Swal.fire('Password changed successfully');
            $('.logout').click();
        },
        error:function(e)
        {
            Swal.fire("Your current password didnot match");
        }
    })  
    }
else 
{
    Swal.fire("New password didnot match");
}

})
</script>
    </body>
    </html>
